[Desktop Entry]
Type=Application
Name=Motor Contorl
Comment=Raw motor access
Exec=motormx
Icon=MotorControl
Terminal=false
Categories=Science;X-IMBL;
StartupNotify=true
